{{!-- this file is only shown whenever there is an error during log out --}}
<form action="/auth/logout" method="post">
    <button type="submit"> Logout</button>
</form>
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}