<h1>NBA TEAMS</h1>
<div class="allteamsdiv">
{{#each teams}}
<div class="eachteamdiv">
<h3>{{name}}</h3>
<img src="{{imgUrl}}" alt="fgdg" class="teamimg">
<hr/>
<br>
<a href='/team/{{_id}}' class="teamdetails">View Team Details</a>
</div>
{{/each}}
</div>