<h1>Edit your profile</h1>
<form action="/profile-edit/{{_id}}" method="post">
<label for="username">Username</label>
<input type="text" name="username" id="username" value="{{username}}">

<label for="email">Email</label>
<input type="text" name="email" id="email" value="{{email}}">

<label for="password">Password</label>
<input type="password" name="password" id="password"></input>

<button type="submit">Edit Profile</button>
</form>