<nav class="navbar bg-light">
  <div class="container11">
    <a class="navbar-brand" href="#">
      <a href="/"><img class ="nba-logo" src="/images/Logo-NBA.png" alt="NBA-logo" width="30" height="24"></a>
    </a>
  </div>
  <form action="/auth/logout" method="post">
    <button class="logout-btn" type="submit"> Logout</button>
</form>
</nav>
<h1>My profile</h1>
<a href="/profile-edit/{{userId}}">Edit profile</a>
