body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}


.eachteamdiv{
  border: 3px solid black;
  margin-bottom: 35px;
  border-radius: 5px;
  padding-left: 10px;
  width: 190px;
  height: 230px;
  text-align: center;
}

.teamdetails{
  text-decoration: none;
}

.allteamsdiv{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-evenly;
  margin: 50px;
}

.teamimg{
  width: 100px;
  height: 100px;
}

.eachplayerimg1{
  width: 260px;
  height: 200px;
}

.container{
  border: 3px solid black;
  margin: 50px;
  width: 500px;
}

.eachplayerdiv{
  border: 3px solid black;
  margin: 50px;
  width: 300px;
  text-align: center;
}



.eachplayerdiv h2{
  padding-top: 15px;
}

.allplayersdiv{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-evenly;
  margin: 50px;
}

.player-info{
  
}