body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.eachteamdiv{
  border: 3px solid black;
  margin-bottom: 35px;
  border-radius: 5px;
  padding-left: 10px;
  width: 400px;
}

.allteamsdiv{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-evenly;
}