body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logout-btn{
  width:80px;
height: 40px;
text-align: center;
}

.h2{
  text-align: center;
  margin: 0 auto;
  margin-top:50px;
  color: white;
  padding-top: 10px;
  color:#e90a2f
}

span{
  color:#01408d;
}

#login-form{
  width: 250px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(227, 223, 223, 0.5);
  border-radius: 5%
}

.login-btn{
  width:100px;
  background-color: #01408d;
  color: #e90a2f;
  height: 30px;;
}

.credentials{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.email{
  color: #01408d
}

.password{
  color:#e90a2f
}

.logout{
  margin-right: 30px;
  border-radius: 5px;
  background-color: #e90a2f;
  color: #01408d;
  width: 100px;
  height: 30px;
  font-size: 1.1rem;
  border: none;
}


.input{
  display: flex;
  flex-direction: column;
  width:90px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 20px;

}

.nba-logo{
  width:100px;
  height: 60px;
}

a {
  color: #00b7ff;
}

.mainpage{
text-align: center;

}

.eachteamdiv{
 /*  border: 3px solid black; */
  margin-bottom: 35px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top:35px;
  width: 190px;
  height: 230px;
  /* text-align: center; */
  align-items: center;
  border-radius: 10%;
  background-color: blanchedalmond;


}

.teamdetails{
  text-decoration: none;
  color:black
}

.allteamsdiv{
/* 	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:stretch;
	align-content: space-evenly;
  margin: 50px; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;

}

.teamimg{
  width: 100px;
  height: 100px;
}

.eachplayerimg1{
  width: 260px;
  height: 200px;
  /* border: 2px solid black; */
}

.container{
  border: 3px solid black;
/*   margin: 50px; */
  width: 330px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10%;
  align-items:stretch;
  padding:20px;
 
}

.eachplayerdiv{
  /* border: 3px solid black; */
  width: 300px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10%;
  background-color:rgba(232, 196, 175, 0.787);
  padding-top: 15px;
  padding-bottom: 15px;
}

.players-name{
  text-decoration: none;
  color:rgb(21, 102, 40)
}

.eachplayerdiv h2{
  padding-top: 15px;
}

.allplayersdiv{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-evenly;
  margin: 50px;
}

.container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.signup{
  width: 250px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(227, 223, 223, 0.5);
  border-radius: 5%;
 }


.signup-btn{
  width:100px;
  background-color: #01408d;
  color: #e90a2f;
  height: 30px;
}